:root {
  --color1: #2bb775;
  --color2: #51cb82;
  --color3: #d7edb7;
  --color4: #000000;
  --color5: #93c6ad;
  --bg: #ffffff;
  --bg-darker: #f3f3f3;
  --highlight: #e6f5ec;
  --color-texto: #000000;
  --color-acento: #148b52;
  --color-acento-claro: #ddebf7;
  --color-lineas: #e0e0e0;
}

html[data-theme="blue"] {
  --color1: #2b6cb7;
  --color2: #5153cb;
  --color3: #bdb7ed;
  --color4: #000000;
  --color5: #93a4c6;
  --bg: #ffffff;
  --bg-darker: #f3f3f3;
  --highlight: #e6e8f5;
  --color-texto: #000000;
  --color-acento: #14348b;
  --color-acento-claro: #dddef7;
  --color-lineas: #e0e0e0;
}