body {
    margin: 0;
    padding: 0;
}
/* Barra superior */
header {
    background-color: mediumseagreen;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between
}

header img {
    height: 90px;
    margin-right: 10px;
}

.header-ranking {
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black', Arial, sans-serif;
}

.header-contacto {
    text-align: left;
    font-size: 7px;
    margin-right: 10px;
    margin-left: auto;

}

.header-telefono {
    text-align: right;
    font-size: 7px;
}
/* Contenido principal */
main {
    padding: 20px;
}

/* Tabla de rankings */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table,
th,
td {
    border: 1px;
}

th,
td {
    padding: 10px;
    text-align: center;
    
}

th {
    background-color: black;
    color: white
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.fila-link {
    color: black;           /* color del texto */
    text-decoration: none;  /* sin subrayado */
    display: block;         /* ocupa todo el espacio de la celda */
    padding: 5px 0;         /* espacio vertical */
}

.fila-link:hover {
    background-color: #d1f0d1; /* efecto hover */
}
