@import url("../../css/global.css");

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Barra de Navegador */
.barra-navegacion {
    position: relative;
    background-color: #51cb82;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-navegacion .enlaces-centro a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 14px;
    transition: 0.3s;
}

.barra-navegacion .cerrar-sesion {
    position: absolute;
    right: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: 0.3s;
}

.barra-navegacion a:hover {
    color: seagreen;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 20px;
}

/* ==== FORMULARIO ==== */
form {
    width: 90%;
    max-width: 600px;
    margin: 40px auto;
    background: #f9f9f9;
    padding: 30px 35px;
    border-radius: 12px;
    border: 2px solid mediumseagreen;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* le da un poco de relieve */
}

form h2 {
    text-align: center;
    color: mediumseagreen;
    margin-bottom: 25px;
    font-size: 26px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.campo input {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 15px;
}
    
button {
    width: 100%;
    padding: 12px;
    background: mediumseagreen;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: seagreen;
}
