
body {
    margin: 0;
    padding: 0;
     display: flex;
    flex-direction: column;
}

footer {
    background-color: #51cb82;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    font-size: 12px;
}

/* Barra superior (antes header) */
header {
    background-color: #51cb82;
    padding: 5px 10px;
}

.contenedor-header {
    display: flex;
    justify-content: flex-end;
}

header h1 {
    font-size: 10px;
    margin: 0;
}

header p {
    font-size: 12px;
    margin: 0;
}

.barra-superior {
    background-color: #2bb775;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.barra-superior img {
    height: 120px;
    margin-right: 10px;
}

.header-ranking {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black', Arial, sans-serif;
}

.header-contacto {
    text-align: left;
    font-size: 7px;
    margin-right: 10px;
    margin-left: auto;
}

.header-telefono {
    text-align: right;
    font-size: 7px;
}
/* Barra de Navegador */
.barra-navegacion {
    background-color: #51cb82;
    text-align: center;
    padding: 10px 0;
}

.barra-navegacion a {
    color: black;          /* color normal armonioso */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 14px;
    transition: 0.3s;
}

.barra-navegacion a:hover {
    color: seagreen;         /* color al pasar el ratón */
}

/* Evitar cambio de color al hacer clic o cuando ya se ha visitado */
.barra-navegacion a:visited,
.barra-navegacion a:active,
.barra-navegacion a:focus {
    color: #2a8f5a;
}


/* ==== FORMULARIO ==== */
form {
    max-width: 400px;
    margin: 40px auto;
    background: #f9f9f9;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid mediumseagreen;
    font-family: Arial, sans-serif;
}

form h2 {
    text-align: center;
    color: mediumseagreen;
    margin-bottom: 20px;
    font-size: 24px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.campo input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 13px;
}

button {
    width: 100%;
    padding: 10px;
    background: mediumseagreen;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: seagreen;
}
