body {
    margin: 0;
    padding: 0;
}

/* Barra superior */
header {
    background-color: mediumseagreen;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
}

header img {
    height: 90px;
    margin-right: 10px;
}

.header-ranking {
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black', Arial, sans-serif;
}

.header-contacto {
    text-align: left;
    font-size: 7px;
    margin-right: 10px;
    margin-left: auto;
}

.header-telefono {
    text-align: right;
    font-size: 7px;
}

/* Contenido principal */
main {
    padding: 20px;
}

/* ==== FORMULARIO ==== */
form {
    max-width: 500px;
    margin: auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid mediumseagreen;
    font-family: Arial, sans-serif;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: mediumseagreen;
    font-size: 18px;
}

table {
    width: 100%;
    border-spacing: 12px;
}

label {
    font-weight: bold;
    font-size: 14px;
}

select,
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 13px;
}

textarea {
    resize: none;
    height: 80px;
}

.contador {
    text-align: right;
    font-size: 11px;
    color: gray;
}

button {
    width: 104%;
    background: mediumseagreen;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: seagreen;
}
