body {
    margin: 0;
    padding: 0;
}

/* Barra superior */
header {
    background-color: mediumseagreen;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
}

header img {
    height: 90px;
    margin-right: 10px;
}

.header-ranking {
    text-align: center;
    font-size: 15px;
    font-family: 'Arial Black', Arial, sans-serif;
}

#login-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#login-form td,
#login-form th {
    padding-bottom: 10px;
}